@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/*
    red           RawSienna                #8C2700
    light red     Salmon!5                 #fef9f8
    dark green    ForestGreen!70!black     #2f6023
    green         ForestGreen              #458933
    light green   ForestGreen!5            #f5f9f4
    dark blue     MidnightBlue             #19196B
*/
.example_thmwrapper {
    border: 1px solid #8C2700;
    padding: 1em 1em 1em 1em;
    background-color: #fef9f8;
}

.example_thmheading {
    color: #8C2700;
}

.remark_thmwrapper {
    border-left: 5px solid #458933;
    padding: 1em 1em 1em 1em;
    background-color: #f5f9f4;
}

.remark_thmheading {
    color: #2f6023; /* #399D3C; */
}

body > header, nav.prev_up_next { /* , nav.toc, nav.toc ul li, nav.toc ul li.current */
    background-color: #fafafa; /* #f4f0ea;  */
}

@media (min-width: 1024px) {
    nav.toc {
        display: flex;
        max-width: 20%;
    }
}

nav.toc, nav.local_toc, #doc_title {
    color: rgb(0, 0, 0);
    font-family: Roboto, "Open Sans", sans-serif; /* Roboto, Arial, sans-serif; Lucida Grande,Arial,Helvetica,sans-serif; */
}

nav.toc .toc_ref, nav.local_toc .toc_ref {
    /* color: #0089BC; */
    font-weight: bolder;
}

/* Reset li.current */
.toc ul li.current {
    background-color: #fff;
    font-weight: normal;
}

/* Correctly make `li.current > a` bold, or the whole li with ul in it will be bold */
.toc ul li.current > a {
    font-weight: 700;
}

nav.toc li .expand-toc {
    user-select: none;
    -webkit-user-select: none;
    color: transparent;
    content: "";
    height: 1em;
    width: 1em;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 320 512'><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/></svg>") no-repeat;
    cursor: pointer;
}

nav.toc li.active .expand-toc {
    user-select: none;
    -webkit-user-select: none;
    color: transparent;
    content: "";
    height: 1em;
    width: 1em;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512'><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/></svg>") no-repeat;
}