*.olean
/_target
/leanpkg.path
src/all.lean
**/.DS_Store
src/list_decls.lean
decls.pickle
decls.yaml
blueprint/src/_minted-print/
blueprint/print/print.pyg
blueprint/src/print.xdv
blueprint/src/print.pyg
blueprint/print/*.dot
blueprint/src/*.dot
blueprint/src/dot2tex.cache
blueprint/src/print-dot2tex-*.tex
