*.olean
/_target
/leanpkg.path
src/all.lean
**/.DS_Store
src/list_decls.lean
decls.pickle
decls.yaml
blueprint/src/_minted-print/
blueprint/print/print.pyg
blueprint/src/print.xdv
blueprint/src/print.pyg
blueprint/print/*
# blueprint/src/*.dot
blueprint/src/dot2tex.cache
blueprint/src/print-dot2tex-*.tex
blueprint/src/print.brf
dot2tex.log
blueprint/src/dep_graph_src.tex
blueprint/src/dep_graph_1.tex
blueprint/src/dep_graph_2.tex
.venv
