# https://github.com/pyinvoke/invoke/issues/891
invoke==2.2.0
# mathlibtools==1.1.1
plasTeX @ git+https://github.com/plastex/plastex.git
leanblueprint @ git+https://github.com/PatrickMassot/leanblueprint.git
watchfiles==0.16.1
dot2tex @ git+https://github.com/xyz2tex/dot2tex