invoke==1.7.1
# mathlibtools==1.1.1
plasTeX @ git+https://github.com/plastex/plastex.git
leanblueprint @ git+https://github.com/utensil/leanblueprint.git@lean4-only-dev
watchfiles==0.16.1
dot2tex @ git+https://github.com/xyz2tex/dot2tex